*{
    padding:0;
    margin:0;
	box-sizing:border-box;
      }
 .container{
	width:90%;
    margin:0 auto;	
 }
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 
	 
 }
.col-1{
	 
	 width:8.33%;
	 padding:0 15px;
 }
 .col-2{
	 
	 width:16.66%;
	 padding:0 15px;
 }
 .col-3{
	 
	 width:25%;
	 padding:0 15px;
	
 }
 .col-4{
	 
	 width:33.33%;
	 padding:0 15px;
 }
 .col-5{
	 
	 width:41.67%;
	 padding:0 15px;
 }
 .col-6{
	 
	 width:50%;
	 padding:0 15px;
 }
 .col-7{
	 
	 width:58.33%;
	 padding:0 15px;
 }
 .col-8{
	 
	 width:66.66%;
	 padding:0 15px;
 }
 .col-9{
	 
	 width:75%;
	 padding:0 15px;
 }
 .col-10{
	 
	 width:83.33%;
	 padding:0 15px;
 }
 .col-11{
	 
	 width:91.66%;
	 padding:0 15px;
 }
 .col-12{
	 
	 width:100%;
	 padding:0 15px;
 }
 #header{
	 padding:25px 0;
	 position:sticky;
	  z-index:999;
	  top:0;
	  background-color:white;
	  
	 
 }
 .card h2{
	font-size:30px;
	color:#023b6d;
    font-family: 'Raleway', sans-serif;
 }
 


.list{
	display:flex;
	justify-content:space-evenly;
	list-style:none;
	align-items:center;
	font-size:15px;
	gap:20px;
	
	
}

 .list a{
	text-decoration:none;
	padding:5px;
	font-size:15px;
	font-weight:400;
	transition:all 0.3s ease;
	font-family: 'open sans', sans-serif;
	/* color:#0b2341; */
}
.list a:hover{
	color:red;
}
.btn0{
	display:flex;
	justify-content:end;
	align-items:end;
	font-family:'open sans'sans-serif;
	
}
.btn0 a{
	display:inline-block;
	padding:8px 20px ;
	background-color:#ed502e;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:4px;
	font-family:"Open Sans", sans-serif;
	transition:0.5s;
	}
.btn a{
	display:inline-block;
	padding:8px 30px;
	background-color:#ed502e;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:4px;
	font-family:"Open Sans", sans-serif;
	transition:0.5s;

}
.text-align{

	align-items:center;
}


.btn0 a:hover{
	opacity:0.8;

}
.hh{
	color:red;
}
.multi1{
	background:linear-gradient(#372f2f52,#372f2f52) ,url("image/p.jpg");
	height:80vh;
	background-position:center;
	background-size:cover;
	align-items:center;
	display:flex;

}
.btn a:hover{
	opacity:0.9;
}
.banner1 h1{
	color:white;
	font-size:48px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	
}
.banner1 p{
   color:white;
   font-size:18px;
   font-family: 'Open Sans', sans-serif;
   padding:10px 0;
}
#multi{
	padding:30px 0;
    	
}
#about{
	padding:40px 0;
	display:flex;
	flex-wrap:wrap;
}
.edit{
	padding:30px 30px;
}
.edit h2{
	padding:5px 0;
	position:relative;
	color:#aaaaaa;
	font-family:'open sans',sans-serif;
	font-size:14px;
	font-weight:400;
	letter-spacing:2px;
	
	
}


.a1 p{
	
	font-family: 'Open Sans', sans-serif;
	color:#444444;

}
.a3 p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#444444;
	padding-top:32px;
	
	
}
.a2{
    padding:20px 0;
	list-style:none;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	margin-right:70px;
	
}
.a2 li{
	padding:10px 0;
	font-size:16px;
	
	
}
 .edit h2::after{
	content:"";
	width:10%;
	height:1px;
	background-color:red;
	display:inline-block;
	position:absolute;
	bottom:47%;
	margin-left:10px;
	
}
.btn1 a:hover{
	background-color:#ed502e;
	color:white;
}
.box{
	display:flex;
	flex-wrap:wrap;
}

.content{
	padding:30px;
	background-color:white;
	font-size:20px;
	background-color:white;
	box-shadow:0 0 5px lightgray;
	width:100%;
	margin-bottom:20px;
	line-height:1.5;
}
.dicon{
	position:relative;
	display:flex;

}
.icon{
	font-size:30px;
	color:#ed502e;
}	

.btn1 a{
	display:inline-block;
	padding:10px 40px;
	background-color:white;
	color:#ed502e;
	font-size:18px;
	text-decoration:none;
	border-radius:5px;
	border:2px solid #ed502e;
	margin:40px 0;
	font-family: 'open sans', sans-serif;
    transition:0.5s;
}
.number h3{
	padding-left:10px;
	font-size:40px;
	font-weight:700;
	line-height:24px;
	color:#0b2341;
	position:absolute;
	top:1px;
	margin-left:15px;
	font-family: 'Open Sans', sans-serif;
	
	
}
.edit h1{
	color:#023b6d;
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	font-weight:700;
	padding-top:1px;
	
}
.details1 p{
	padding:20px 0;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}

.details1 a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	margin-top:40px;
	transition:0.5s;
	color:#164682;
}
.details1 a:hover{
	color:#2169c4;
	transition:0.5s;
}
.details1 a i{
	padding-left:4px;
}
 h3{
	font-size:20px;
	padding-bottom:10px;
}
.a1 p{
	font-size:16px;
	padding-top:30px;
}
.a2 i{
	color:#ed502e;
	padding-right:10px;
}
.vimg img{
	object-fit:cover;
 /* height:70vh; */
 
 width:100%;
 margin-left:114px;
	

}
.container1{
	width:100%;
}
.multi3{
	padding:50px 50px;
}
.multi2 h2{
	font-size:30px;
	color:#123a6d;
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	margin-top:30px;
}
.multi2 p{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#848484;
	padding:15px 0;

}
.eum1 i{
	padding-left:60px;
}

.multi4{
	background-color:white;
	margin-bottom:20px;
	padding:10px 13px;
	font-family:'open sans',sans-serif;
	font-weight:300;
	margin-right:20px;
	margin-top:20px 0;
}
.multi4:hover .eum2{
	height:80px;
	transition:0.5s;
}	
#eum{
	background-color:#f6f9fd;
}
.eum1:hover h3{
	color:red;
}

.eum2 p{
	font-size:15px;
	font-family: 'Open Sans', sans-seri;
	
	
}
.eum2{
	overflow:hidden;
	transition:all 0.5s ease;
	height:0;
}

.eum1 h3{
	color:#123a6d;
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	line-height:24px;
	font-weight:700;
	margin-left:15px;
	transition:0.5s;
}

.eum1 span{
	padding-right:10px;
	font-size:17px;
	color:red;
	
}
.btn a{
	margin:20px 0;
}
/* .multi4:hover .eum2{ */
	/* height:75px; */
}
/* .eum1 h3:hover{ */
	/* color:red; */
	/* visibility:hidden; */
	/* transition:all o.5s ease; */
	/* height:0; */
/* } */
/* .multi4 eum1:hover eum2{ */
	/* overflow:hidden; */
	/* transition:all 0.4s ease; */
	/* height:0; */
/* } */

.eum1:hover .eum2{
	height:70px;
	transition:all 0.5s ease;
}


.vimg{
	/* background:linear-gradient(#8d5c5c26,#8d5c5c26) ,url("image/pon.jpg"); */
	
	background-position:center;
	background-size:cover;
	position:relative;
	right:20%;
	width:100%;
	color:transparent;
}
.vimg i{
	font-size:70px;
	position:absolute;
	right:27%;
	color:#ff6400;
	top:48%;
		
}
/* .eum1 span{ */
	/* color:red; */
}
.multi4 i{
    margin-left:70px;
	align-items:end;
}

#service{
	padding:20px 0;
	background-color:#fdfdfd;
	margin-top:10px;
}
.service1{
	background-color:#fefefe;
	margin-bottom:20px;
	padding:50px 50px;
	padding-left:30px;
	align-items:center;
	box-shadow:0px 0px 30px 0px lightgray;
	transition:0.5s;

}
.ser1{
	padding:20px 0;
	transition:0.5s;
	text-align:center;
}
.ser1 i{
	border-radius:5px;
	background-color:#ed502e;
	color:white;
	font-size:30px;
	padding:10px 15px;
	/* position:relative; */
	/* left:44%; */
	/* top:5px; */
	box-shadow:-6px -6px pink;
	
	
}
.ser2 h3{
	font-family: 'Raleway', sans-serif;
	/* color:#0b2341; */

}
.ser2:hover{
	color:white;
	background-color:#ed502e;
	transition:0.5s;
}
.service1 h3{
	font-size:24px;
	/* text-align:center; */
	}
.service1 p{
	font-size:14px;
	/* text-align:center; */
	font-family: 'Open Sans', sans-serif;
	line-height:24px;
}
/* .ser2:hover h3{ */
	/* color:white; */
	/* transition:all 0.2s ease; */
	/* background-color:#ed502e; */
/* } */
.service1:hover{
	background-color:#ed502e;
	color:white;
	transition:all o.2s ease;
}
.ser1 i:hover{
	background-color:white;
	color:#ed502e;
	transition:all 0.2s ease;
}

.service1:hover i{
	background-color:white;
	color:#ed502e;
	transition:all 0.2s ease;
}
.ser2{
	text-align:center;
}
 
#test{
	padding:20px 0;
	background-color:#f6f9fd;
	margin-top:10px;
	margin-left:30px;

}
.test1{
	background-color:#ffffff;
	padding:20px 0;
	padding-left:60px;	
	position:relative;
	box-shadow:0px 0px 20px 0px lightgray;
	margin-top:50px;
	word-spacing:5px;
	/* margin-bottom:20px; */
}
.test1 p{
	font-style:italic;
	font-size:16px;
	color:#4444444;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	margin:20px 0;

	
}
.test1 i{
	font-size:18px;
	color:#ffb6c169;
}
.test2 p{
	padding-bottom:10px;
}
.test2 h3{
	font-family: 'Raleway', sans-serif;
}
.test3{
	position:absolute;
   left:-40px;
   font-size:18px;
   border-radius:6px;
   
}
.test3 img{
	width:20%;
	border:5px solid #fff;
}

.row1{
	justify-content:space-evenly;
	display:flex;
	margin-bottom:30px;
	
	
	
}
.test2 p{ 
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	margin-top:2px;
	color:#999;
	font-size:14px;
}	

#call{
	padding:10px 0;
	background-color:#0b2341;
	
}	
.edit h3{
	padding:30px 0;
	text-align:center;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:28px;
	font-weight:700;
}
.edit p{
	text-align:center;
	color:white;
	font-family: 'open Sans', sans-serif;
}

.btn4 a{
	display:inline-block;
	flex-wrap:wrap;
	padding:8px 18px;
	color:white;
	font-size:16px;
	text-decoration:none;
	border-radius:5px;
	border:2px solid #ed502e;
	font-family: 'Raleway', sans-serif;

	

}
.btn4 a:hover{
	background-color:#ed502e;
	transition:0.5s;
}

.btn4{
	text-align:center;
	padding:20px 0;
	transition:0.5s;
}
#check{
	display:flex;
	flex-wrap:wrap;
	margin-top:40px;
}
.app2{
	display:flex;
	justify-content:center;
	list-style:none;
	align-items:center;
	font-size:14px;
	font-weight:600;
	font-family:"open sans" ,sans-serif;
	gap:20px;
	padding-bottom:30px;
    transition:0.5s;	
}
.app2 a:hover{
	color:#ed502e;
	transition:0.5s;
}
.app2 a{
	text-decoration:none;
	

}
.pic1{
	margin-bottom:20px;
}
#team{
	padding:40px 0;
	background-color:#f6f9fd;
	
}

#faq{
	padding:60px 0;
	background-color:white;
}
.faq1{
   display:flex; 
}
.question{
	padding:30px 0;
	color:#444444;
	display:flex;
	flex-wrap:wrap;
	background-color:white;
	border-bottom:2px solid #f6f9fd;

}
.faq1 i{
	padding-bottom:10px;
	margin-right:20px;
	font-size:20px;
	color:#669ee5;
}
.faq1 h4{
	font-family:"Raleway", sans-serif;
	font-size:16px;
	font-weight:700;
	color:#444444;

}
.question p{
	font-family:"Open Sans", sans-serif;
	font-size:15px;
	/* margin:0 0 10px 15px; */
 

}
#contact{
	background-color:#f6f9fd;
	padding:30px 0;
	
}
.address{
	text-align:center;
	border-radius:4px;
	border:1px solid white;
	padding:40px 0;
	background-color:white;
	color: solid gray;
	box-shadow:0px 0px 20px 0px lightgray;
}
.address h3{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color:#777777;
	padding-top:5px;
}
.email h3{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color:#777777;
	padding-top:5px;
}
.address p{
	font-family: 'open sans', sans-serif;
	font-size:14px;
	color:#777777;
}
.email p{
	font-family: 'open sans', sans-serif;
	font-size:14px;
	color:#777777;
}
.email{
	text-align:center;
	border-radius:4px;
	border:1px solid white;
	padding:40px 0;
	background-color:white;
	margin-top:20px;
	color:solid gray ;
	box-shadow:0px 0px 20px 0px lightgray;
	width:100%;
}
.email i{
	color:red;
	font-size:30px;
	width:60px;
	height:60px;
	border-radius:40px;
	border-color: #ed502e;
	border:3px dotted #fbdad2;
	padding-top:11px;
	
	
	
}
.address i{
	color:red;
	font-size:35px;
	width:60px;
	height:60px;
	border-radius:40px;
	border-color: #ed502e;
	border:3px dotted #fbdad2;
	padding-top:10px;
	
}



.name{
    padding:10px 10px;
    width:100%;	
   
}
.your{
	padding:5px 10px 40px 5px;
	border-radius:5px ;
	 font-size:16px;
	color:#444444;
	font-family:'open sans'open serif;
	padding:10px 25px;
	border:1px solid lightgray;
	outline-color:#ed502e;
	width:100%;
}
.name2 .your{
	padding-bottom:90px;
	color:gray;
}

.btn3 a{
	
	background-color:#ed502e;
	color:white;
	padding:10px 45px;
	text-decoration:none;
	font-size:20px;
	border-radius:5px;
	
	font-family:"open sans",open serif;
	
}
.btn3:hover{
	opacity:0.8;
	transition:0.5s;
}	
.btn3{
	 display: flex;
    justify-content: center;
    align-items: center;
	padding-top:35px;
	transition:0.5s;
}	
.name1{
	padding:10px 0;
}
/* .your{ */
	/* padding:10px 0; */
	/* border-radius:5px; */
	/* width:100%; */
	/* font-size:16px; */
	/* color:#444444; */
	/* font-family:'open sans'open serif; */
	/* padding:10px 25px; */
	/* border:1px solid lightgray; */
	/* outline-color:#ed502e; */
/* } */
.name{
	padding:10px 0;
}
/* .your2{ */
	/* padding:40px 0; */
	/* padding-bottom:80px; */
	/* border-radius:5px; */
	/* width:100%; */
	/* height:20vh; */
	/* font-size:16px; */
	/* color:#444444; */
	/* font-family:'open sans'open serif; */
	/* padding:10px 25px; */
	/* border:1px solid lightgray; */
	/* outline-color:#ed502e; */
}
.msg1{
    width:100%;
	border:1px solid lightgray;
	outline-color:#ed502e;
	padding-top:10px;
	padding-left:10px;
	color:#444444b5;
	font-size:18px;
	font-family:'open sans',sans-serif;
	padding-bottom:50px;
}
.name3{

	padding:30px 0;
	margin-top:20px;
	background-color:white;
	width:100%;
	box-shadow:0px 0px 20px 0px lightgray;
}

#content{
    padding:50px 0;
	background-color:#0b2341;
	margin-top:20px;
	color:white;


}
.multi7{
	background-color:#05101e;
	text-align:center;
	padding:50px 50px;
	position:relative;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
}
.multi7 p{
	margin:15px 0;
}

.multi9{
	background-color:#05101e;
	text-align:center;
	padding:20px 0;
	font-family: 'open sans', sans-serif;
}
.multi9 h5{
	padding:20px 0;
	font-family: 'Raleway', sans-serif;
}
.multi9 p{
	font-family: 'open Sans', sans-serif;
	padding:10px 0;
}

.multi8{
	padding:8px 0;
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	background-color:#0b2341;
	margin-top:10px;

}
.multi8 ul{
	margin-left:20px;
}
.list1{
	list-style:none;
	position:relative;
	border-radius:5px;
	border:#05101e;
	font-family: 'open sans', sans-serif;
	font-size:14px;
	
	
}
.multi10{
	padding-top:10px;
	position:relative;
	margin-top:20px;
}
.multi10 h5{
	font-size:16px;
	color:#fff;
	padding-bottom:12px;
	margin-bottom:10px;
	font-family: 'Raleway', sans-serif;
	
	
}
.multi10 p{
	font-family: 'open sans', sans-serif;
	font-size:14px;
}
.list1 span{
	color:#ed502e;
	position:absolute;
	right:104%;
	
}
.list1 li:hover{
	color:#ed502e;
	transition:0.5s;
	
}
.btn2 a{
	text-decoration:none;
	background-color:#ed502e;
	color:white;
	padding:15px 20px;
  	 position:relative;
	left:71%;
	border-radius:5px;
	top:17px;
	font-family: 'open sans', sans-serif;
	
}
.btn2{
	padding-top:30px;
	
	
	
}
.multi7 i{
	border-radius:5px;
	border:1 px solid gray;
	width:40px;
	background-color:#0a1e38;
	height:40px;
	font-size:20px;
	padding-top:10px;
	
	
}
.multi7 p{
	padding:10px 0;
	font-family: 'Raleway', sans-serif;
}
.multi7 i:hover{
	transition:all 0.2s ease;
	color:white;
	background-color:#ed502e;
}

/* .question::before{  */
	/* content:""; */
	/* width:230%; */
	/* height:2px; */
	/* background-color:#007aff17; */
	/* display:inline-block; */
	/* position:absolute; */
/* }	 */

	


/* #footer{ */
	/* 
	padding-top:70px;
	color:white;
	text-align:center;
	background-color:#0b2341;
	font-family: 'open sans', sans-serif;

}*/
 .multi7::before{
	content:"";
	width:100%;
	height:5px;
	background-color:red;
	display:inline-block;
	position:absolute;
	right:78%;
	top:4px;
	left:1%;
	
	

}
.list1 li{
	padding:15px 0;
}
.copy1{
	border-top:1px solid blue;
	padding:40px;
	margin-top:100px;
}
#btn7{
	    padding: 16px 0;
    border-radius: 5px;
    position: absolute;
	width:100%;
}
.copy1 p{
	text-align:center;
}
.drop{
	position:relative;
	line-height:3;
	
}
.copy1 span{
	color:#ed502e;
	transition:0.5s;
}
.copy1 span:hover{
	opacity:0.8;
}


.drop:hover  ul.dropdown{
	visibility: visible;
    opacity: 1;
    transform: translateY(0px);
	transition:0.5s;
	
}


.dropdown{
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top: 45px;
    left:-12px;
    list-style: none;
    width: 185px;
    padding-left: 22px;
    line-height: 2.5;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s ease;
    transform: translateY(30px);
}

/* .drop > .dropdown{ */

/* } */
.drop1{
	position:relative;
	/* line-height:3px; */
	/* padding:10px 0; */
}
.drop1:hover  ul.dropdown1{
	visibility: visible;
    opacity: 1;
    transform: translateY(0px);
	transition:0.5s;
}

.dropdown1{
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top:4px;
    right:185px;
    list-style: none;
    width: 200px;
    padding-left:22px;
    line-height:3;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s ease;
    transform: translateY(30px);
}
 
/* .app1{ */
	/* display:flex; */
	/* justify-content:space-evenly; */
	/* align-items:space-evenly; */
	/* width:100%; */
	/* list-style:none; */

/* } */
/* .app2 a{ */
	/* padding:15px; */
	/* font-size:15px; */
	/* font-weight:400; */
	/* transition:all 0.3s ease; */
	/* font-family: 'open sans', sans-serif; */
	/* list-style:none; */
	/* text-decoration:none; */
    /* padding-left:22px; */
/* } */

.portcon{
	display:flex;
	justify-content:space-between;
}
.portcon1 h2{
	font-family: 'Raleway', sans-serif;
	color:#0b2341;
	font-weight:600;
	font-size:18px;
}
.portcon1 p{
	color:#1a5298;
	font-size:14px;
	font-family:'open sans',sans-serif;
	padding-top:6px;
}
.porticon i{
	color:#123a6d;
	font-size:18px;
	padding-top:10px;
	padding-left:20px;
}
.port{
	position:relative;
}
.portcon{
	border:1px solid white;
	background-color:white;
	width:90%;
	position:absolute;
	opacity:0;
	bottom:14px;
	left:20px;
	padding:20px 10px;
	transition:0.5s;
}
.porticon i:hover{
	color:#ed502e;
	transition:0.5s;
}
.port:hover .portcon{
	opacity:1;
	bottom:40px;
	transition:0.5s;
}
.team3{
	/* background-color:#233751a8; */
	width:100%;
	position:absolute;
	opacity:0;
	text-align:center;
	color:white;
	top:70%;
	padding-bottom:2px;
	transform:translateY(40px);
	z-index:2;
}



.team1:hover .team3{
	opacity:1;
	bottom:30px;
	transition:0.5s;
	transform:translateY(0px);

	
}
.team5{
	background-color:transparent;
	width:20%;
	font-size:22px;
	position:absolute;
	line-height:2.5;
	opacity:0;
	top:10px;
	color:white;
	height:auto;
	border-radius:5px;
	transform:translateX(-40px);
}
/* .colho{ */
	/* width:23% !important; */
	/* padding:0 !important; */
	/* margin:0 10px; */
/* } */
.team1:hover .team5{
	opacity:1;
	left:20px;
	padding:36px 0;
	transition:0.5s;
	margin-left:-20px;
	top:1px;
	background-color:#233751;
	z-index:3;
	transform:translateX(0px);
	transition:0.5s;
	
}
.team1 h3{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}
.team1 h4{
	font-style:italic;
	font-size:13px;
	font-weight:300;
	font-family: 'open sans', sans-serif;
}
.team5 a:hover{
	color:#ed502e;
	transition:all 0.5s ease;
}
.team1{
	position:relative;
	overflow:hidden;
}
.team5 a{
	padding-left:15px;
	padding-bottom:5px;
	color:white;
	
}

.team1{
position:relative;
overflow:hidden;
}

.div{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
	background: linear-gradient(164deg, #3330, #233751a8 50%, #233751 75%, #233751fc 75%);	
z-index:1;
opacity:0;
}

.team1:hover .div{
opacity:1;
transition:0.5s;
}	
