*{
    padding:0;
    margin:0;
	box-sizing:border-box;
 }
 .container{
	width:90%;
    margin:0 auto;	
 }
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 
	 
 }
.col-1{
	 
	 width:8.33%;
	 padding:0 15px;
 }
 .col-2{
	 
	 width:16.66%;
	 padding:0 15px;
 }
 .col-3{
	 
	 width:25%;
	 padding:0 15px;
	
 }
 .col-4{
	 
	 width:33.33%;
	 padding:0 15px;
 }
 .col-5{
	 
	 width:41.67%;
	 padding:0 15px;
 }
 .col-6{
	 
	 width:50%;
	 padding:0 15px;
 }
 .col-7{
	 
	 width:58.33%;
	 padding:0 15px;
 }
 .col-8{
	 
	 width:66.66%;
	 padding:0 15px;
 }
 .col-9{
	 
	 width:75%;
	 padding:0 15px;
 }
 .col-10{
	 
	 width:83.33%;
	 padding:0 15px;
 }
 .col-11{
	 
	 width:91.66%;
	 padding:0 15px;
 }
 .col-12{
	 
	 width:100%;
	 padding:0 15px;
 }
 #header{
	 padding:20px 0;
	 
 }
 .card h2{
	font-size:30px;
	color:#023b6d;

 }
 


.list{
	display:flex;
	justify-content:space-evenly;
	list-style:none;
	align-items:center;
}
 .list a{
	text-decoration:none;
	padding:5px;
	font-size:17px;
	font-weight:400;
	transition:all 0.2s ease;
}
.list a:hover{
	color:red;
}
.btn  a{
	display:inline-block;
	padding:5px 20px;
	background-color:red;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:5px;
	align-items:end;
	

}
.text-align{

	align-items:center;
}


.btn a:hover{
	opacity:0.8;

}
.hh{
	color:red;
}
.multi1{
	background:linear-gradient(#76626247 ,#76626247) ,url("image/p.jpg");
	height:90vh;
	background-position:center;
	background-size:cover;
	align-items:center;
	display:flex;

}
.banner1 h1{
	color:white;
	
}
.banner1 p{
   color:white;

}
#multi{
	padding:30px 0;
}
#about{
	padding:40px 0;
	display:flex;
	flex-wrap:wrap;
}
.edit ,h4 ,h1{
	padding:5px 0;
	position:relative;
	color:#023b6d;
}

.a1 p{
	font-size:30px;

}
.a2 {
    padding:20px 0;
	list-style:none;
	margin-left:30px;
}
h4::after{
	content:"";
	width:10%;
	height:2px;
	background-color:red;
	display:inline-block;
	position:absolute;
	bottom:50%;
}
.box{
	display:flex;
	flex-wrap:wrap;
}

.content{
	padding:20px 0;
}
.dicon{
	position:relative;
	display:flex;

}
.icon{
	font-size:20px;
	color:red;
}	

.btn1 a{
	display:inline-block;
	padding:1px 25px;
	background-color:white;
	color:red;
	font-size:18px;
	text-decoration:none;
	border-radius:5px;
	border:2px solid red;
	margin:20px 0;

}
.number h3{
	padding-left:10px;
}
.edit h1{
	color:#023b6d;
	font-family:"Poppins", sans-serif;
	font-size:25px;
	
}

.details1 a{
	text-decoration:none;
}
 h3{
	font-size:20px;
	padding-bottom:10px;
}
.a1 p{
	font-size:20px;
}
.a2 i{
	color:orange;
}
.vimg img{
	width:100%;
	height:107vh;
}
.multi3{
	padding:50px 50px;
}
.multi2 h2{
	font-size:40px;
	color:#123a6d;
	font-family:arial;
}
.multi2 p{
	font-size:20px;
}
.multi4{
	background-color:white;
	margin-bottom:20px;
	padding:20px 15px;

}
#eum{
	background-color:#007aff17;
}
.multi4 h3{
	color:#123a6d;
}
.multi4 h3:hover{
	color:red;
	transition:all 0.2s ease;
}
.btn a{
	margin:20px 0;
}
.vimg{
	background:linear-gradient(#8d5c5c26,#8d5c5c26) ,url("image/pon.jpg");
	height:100%;
	background-position:center;
	background-size:cover;
	position:relative;
	width:100%;
}
.vimg i{
	font-size:90px;
	position:absolute;
	bottom:50%;
	right:45%;
	top:50%;
	color:#ff6400;
	background-color:orange;
	
}
.multi4 span{
	color:red;
}
.multi4 i{
    margin-left:90px;
	align-items:end;
}

#service{
	padding:20px 0;
	background-color:#007aff17;
	margin-top:10px;
}
.service1{
	background-color:white;
	margin-bottom:20px;
	padding:50px 0;
	padding-left:30px;
	align-items:center;

	

}
.ser1 i{
	border-radius:5px;
	background-color:#ed502e;
	color:white;
	font-size:30px;
	padding:10px 15px;
	position:relative;
	left:40%;
	top:5px;
	box-shadow:5px 5px 5px pink;
	
	
}
.service1 h3{
	padding-top:20px;
	font-size:30px;
	text-align:center;
}
.service1 p{
	font-size:20px;
	text-align:center;
}
.service1:hover{
	background-color:#ed502e;
	color:white;
	transition:all o.2s ease;
}
.ser1 i:hover{
	background-color:white;
	color:#ed502e;
	transition:all 0.2s ease;
}
 
#test{
	padding:20px 0;
	background-color:#007aff17;
	margin-top:10px;
	margin-left:30px;

}
.test1{
	background-color:white;
	padding:20px 0;
	padding-left:60px;	
	position:relative;
}
.test2 h3{
	padding-top:20px;
	
}
.test2 p{
	padding-top:1px;
}
.test3{
	position:absolute;
   left:-40px;
}
.row1{
	justify-content:space-evenly;
	display:flex;
	
}	
#call{
	padding:10px 0;
	background-color:#0b2341;
	height:25vh;
	margin-top:20px;
	
}	
.edit h3{
	padding:20px 0;
	text-align:center;
	color:white;
}
.edit p{
	text-align:center;
	color:white;
}

.btn3 a{
	display:inline-block;
	padding:1px 25px;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:5px;
	border:2px solid red;
	margin:20px 0;
	position:absolute;
	left:45%;
	

}

.btn3{
	position:relative;
	
}
#check{
	display:flex;
	flex-wrap:wrap;
	margin-top:40px;
}
.pic1{
	margin-bottom:20px;
}
#team{
	padding:30px 0;
	background-color:#007aff17;
}
#faq{
	display:flex;
	padding:20px 0;
	display:flex;
	flex-wrap:wrap;
	margin-top:60px;
}
.faq1{
	padding:10px 0;
	position:relative;
}
.faq1 i{
	position:absolute;
	right:102%;
	font-size:20px;
	color:#669ee5;
}
.faq1 h3{
	font-family:"Poppins", sans-serif;
	font-size:20px;
	
}
#contact{
	background-color:#007aff17;
	padding:50px 0;
}
.address{
	text-align:center;
	border-radius:4px;
	border:1px solid white;
	padding:40px 0;
	background-color:white;
	color: ssold gray;
}
.email{
	text-align:center;
	border-radius:4px;
	border:1px solid white;
	padding:40px 0;
	background-color:white;
	margin-top:20px;
	color:solid gray ;
}
.email i{
	color:red;
	font-size:35px;
}
.address i{
	color:red;
	font-size:35px;
}
.name a{
	
	border-radius:5px;
	border:1px solid gray;
	text-decoration:none;
	padding:15px 60px;
	text-align:center;
	display:inline-block;
}
.name1 a{
	
	
	border-radius:5px;
	border:1px solid gray;
	text-decoration:none;
	display:flex;
	justify-content:left;
	margin-top:30px;
	padding:10px 0;
	
	
}
.name2 a{

	
	border-radius:5px;
	border:1px solid gray;
	text-decoration:none;
	display:flex;
	justify-content:left;
	margin-top:30px;
	padding:50px 0;
}
.btn3 a{
	position:absolute;
	left:40%;
	background-color:#ed502e;
	color:white;
}
.btn3{
	position:relative;
	
}
.name3{

	padding:40px 0;
	margin-top:20px;
	background-color:white;
	height:45vh;
}

#content{
    padding:50px 0;
	background-color:#0b2341;
	height:25vh;
	margin-top:20px;
	color:white;
	width:100%;
	height:80vh;
}
.multi7{
	background-color:#05101e;
	text-align:center;
	padding:20px 0;
}
.multi8{
	padding:15px 0;
	font-size:20px;
}
.list1{
	list-style:none;
	position:relative;
	border-radius:5px;
	border:#05101e;
	
	
}
.list1 span{
	color:#ed502e;
	position:absolute;
	right:104%;
	
}
.list1 li:hover{
	color:#ed502e;
	
}
.btn2 a{
	text-decoration:none;
	border-radius:5px;
	background-color:#ed502e;
	color:white;
	padding:10px 20px; 
	
}
.btn2{
	padding-top:30px;
}
.multi7 i{
	border-radius:5px;
	border:1 px solid gray;
	padding-top:15px;
}
.multi7 p{
	padding:10px 0;
}

.faq1::after{
	content:"";
	width:250%;
	height:2px;
	background-color:#007aff17;
	display:inline-block;
	position:absolute;
	

}
.question{
	position:relative;
	display:flex;
	flex-wrap:wrap;
}

	


#footer{
	
	padding-top:70px;
	color:white;
	text-align:center;
	background-color:#0b2341;

}
