*{
    padding:0;
    margin:0;
	box-sizing:border-box;
      }
 .container{
	width:90%;
    margin:0 auto;	
 }
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 
	 
 }
.col-1{
	 
	 width:8.33%;
	 padding:0 15px;
 }
 .col-2{
	 
	 width:16.66%;
	 padding:0 15px;
 }
 .col-3{
	 
	 width:25%;
	 padding:0 15px;
	
 }
 .col-4{
	 
	 width:33.33%;
	 padding:0 15px;
 }
 .col-5{
	 
	 width:41.67%;
	 padding:0 15px;
 }
 .col-6{
	 
	 width:50%;
	 padding:0 15px;
 }
 .col-7{
	 
	 width:58.33%;
	 padding:0 15px;
 }
 .col-8{
	 
	 width:66.66%;
	 padding:0 15px;
 }
 .col-9{
	 
	 width:75%;
	 padding:0 15px;
 }
 .col-10{
	 
	 width:83.33%;
	 padding:0 15px;
 }
 .col-11{
	 
	 width:91.66%;
	 padding:0 15px;
 }
 .col-12{
	 
	 width:100%;
	 padding:0 15px;
 }
 #header{
	 padding:25px 0;
	 position:sticky;
	  z-index:999;
	  top:0;
	  background-color:white;
	  
	 
 }
 .logo h2{
	font-size:30px;
	color:#023b6d;
    font-family: 'Raleway', sans-serif;
 }
 


.navlist{
	display:flex;
	justify-content:space-evenly;
	list-style:none;
	align-items:center;
	font-size:15px;
	gap:20px;
	
	
}

 .navlist a{
	text-decoration:none;
	padding:5px;
	font-size:15px;
	font-weight:400;
	transition:all 0.3s ease;
	font-family: 'open sans', sans-serif;
	/* color:#0b2341; */
}
.navlist a:hover{
	color:red;
}
.btn-primary{
	display:flex;
	justify-content:end;
	align-items:end;
	font-family:'open sans'sans-serif;
	
}
.btn-primary a{
	display:inline-block;
	padding:8px 20px ;
	background-color:#ed502e;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:4px;
	font-family:"Open Sans", sans-serif;
	transition:0.5s;
	}
	.btn_primary a{
	display:inline-block;
	padding:8px 20px ;
	background-color:#ed502e;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:4px;
	font-family:"Open Sans", sans-serif;
	transition:0.5s;
	
	}
	.btn_primary{
		
		padding-top:15px;
		
	}
	.btn_primary:hover{
		opacity:0.8;
	}

.text-align{

	align-items:center;
}

.btn-primary a:hover{
	opacity:0.8;

}
.hh{
	color:red;
}
.banner-section{
	background:linear-gradient(#372f2f52,#372f2f52) ,url("image/p.jpg");
	height:80vh;
	background-position:center;
	background-size:cover;
	align-items:center;
	display:flex;
	

}


.banner-content h1{
	color:white;
	font-size:48px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	
}
.banner-content p{
   color:white;
   font-size:18px;
   font-family: 'Open Sans', sans-serif;
   padding:10px 0;
}
#multi{
	padding:30px 0;
    	
}
#about{
	padding:40px 0;
	display:flex;
	flex-wrap:wrap;
}
.title{
	padding:40px 0;
}
.title h2{
	padding:5px 0;
	position:relative;
	color:#aaaaaa;
	font-family:'open sans',sans-serif;
	font-size:14px;
	font-weight:400;
	letter-spacing:2px;
	
	
}


.about-card-content p{
	
	font-family: 'Open Sans', sans-serif;
	color:#444444;

}
.about-cardcontent p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#444444;
	padding-top:32px;
	
	
}
.about-card-list{
    padding:20px 0;
	list-style:none;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	margin-right:70px;
	
}
.about-card-list li{
	padding:10px 0;
	font-size:16px;
	
	
}
 .title h2::after{
	content:"";
	width:10%;
	height:1px;
	background-color:red;
	display:inline-block;
	position:absolute;
	bottom:47%;
	margin-left:10px;
	
}
.btn-secondary a:hover{
	background-color:#ed502e;
	color:white;
}
.box{
	display:flex;
	flex-wrap:wrap;
}

.aboutcard{
	padding:30px;
	background-color:white;
	font-size:20px;
	background-color:white;
	box-shadow:0 0 5px lightgray;
	width:100%;
	margin-bottom:20px;
	line-height:1.5;
}
.about-cardtitle{
	position:relative;
	display:flex;
	align-items:center;

}
.about-cardicon{
	font-size:30px;
	color:#ed502e;
}	

.btn-secondary a{
	display:inline-block;
	padding:10px 40px;
	background-color:white;
	color:#ed502e;
	font-size:18px;
	text-decoration:none;
	border-radius:5px;
	border:2px solid #ed502e;
	margin:40px 0;
	font-family: 'open sans', sans-serif;
    transition:0.5s;
}
.about-cardnum h3{
	 padding-left:10px;
	font-size:40px;
	font-weight:700;
	line-height:24px;
	color:#0b2341;
	/* position:absolute; */
	/* top:1px; */
	margin-left:15px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom:0px;
	
	
}
.title h1{
	color:#023b6d;
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	font-weight:700;
	padding-top:1px;
	
}
.about-card-content p{
	padding:20px 0;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}

.about-card-content a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	margin-top:40px;
	transition:0.5s;
	color:#164682;
}
.about-card-content a:hover{
	color:#2169c4;
	transition:0.5s;
}
.about-card-content a i{
	padding-left:4px;
}
 /* h3{ */
	/* font-size:20px; */
	/* padding-bottom:10px; */
/* } */
.about-card-content p{
	font-size:16px;
	padding-top:30px;
}
.about-card-list i{
	color:#ed502e;
	padding-right:10px;
}
.accordian-img img{

 /* height:70vh; */
 width:100%;
 
	

}
.container1{
	width:100%;
}
.accordian-section h2{
	font-size:30px;
	color:#123a6d;
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	margin-top:30px;
}
.accordian-section p{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#848484;
	padding:15px 0;

}
.accordian-listtitle i{
	padding-left:60px;
	position:absolute;
	right:0;
}

.accordian-list{
	background-color:white;
	margin-bottom:20px;
	padding:10px 13px;
	font-family:'open sans',sans-serif;
	font-weight:300;
	margin-right:20px;
	margin-top:20px 0;
}
.accordian-list:hover .accordian-listcontent{
	height:80px;
	transition:0.5s;
}	
#third-section{
	background-color:#f6f9fd;
}
.accordian-listtitle:hover h3{
	color:red;
}

.accordian-listcontent p{
	font-size:15px;
	font-family: 'Open Sans', sans-seri;
	
	
}
.accordian-listcontent{
	overflow:hidden;
	transition:all 0.5s ease;
	height:0;
}

.accordian-listtitle h3{
	color:#123a6d;
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	line-height:24px;
	font-weight:700;
	
	transition:0.5s;

}
.accordian-listtitle{
	position:relative;
	
}

.accordian-listtitle span{
	padding-right:10px;
	font-size:17px;
	color:red;
	
}


.accordian-listtitle:hover .accordian-listcontent{
	height:70px;
	transition:all 0.5s ease;
}


.accordian-img{
	/* background:linear-gradient(#8d5c5c26,#8d5c5c26) ,url("image/pon.jpg"); */
	
	position:relative;
	width:100%;
	
}
.accordian-img i{
	font-size:70px;
	position:absolute;
	left:45%;
	color:#ff6400;
	top:45%;
		
}
.accordian-list i{
    margin-left:70px;
	align-items:end;
}

#service{
	padding:20px 0;
	background-color:#fdfdfd;
	margin-top:10px;
}
.service-card{
	background-color:#fefefe;
	margin-bottom:20px;
	padding:50px 50px;
	padding-left:30px;
	align-items:center;
	box-shadow:0px 0px 30px 0px lightgray;
	transition:0.5s;

}
.service-cardicon{
	padding:20px 0;
	transition:0.5s;
	text-align:center;
}
.service-cardicon i{
	border-radius:5px;
	background-color:#ed502e;
	color:white;
	font-size:30px;
	padding:10px 15px;
	/* position:relative; */
	/* left:44%; */
	/* top:5px; */
	box-shadow:-6px -6px pink;
	
	
}
.service-cardcontent h3{
	font-family: 'Raleway', sans-serif;
	margin-bottom:10px;
	/* color:#0b2341; */

}
.service-cardcontent:hover{
	color:white;
	background-color:#ed502e;
	transition:0.5s;
}
.service-card h3{
	font-size:24px;
	/* text-align:center; */
	}
.service-card p{
	font-size:14px;
	/* text-align:center; */
	font-family: 'Open Sans', sans-serif;
	line-height:24px;
}
.service-card:hover{
	background-color:#ed502e;
	color:white;
	transition:all o.2s ease;
}
.service-cardicon i:hover{
	background-color:white;
	color:#ed502e;
	transition:all 0.2s ease;
}

.service-card:hover i{
	background-color:white;
	color:#ed502e;
	transition:all 0.2s ease;
}
.service-cardcontent{
	text-align:center;
}
 
#testimonials{
	padding:20px 0;
	background-color:#f6f9fd;
	margin-top:10px;
	margin-left:30px;

}
.testimonials-card{
	background-color:#ffffff;
	padding:20px 0;
	padding-left:60px;	
	position:relative;
	box-shadow:0px 0px 20px 0px lightgray;
	margin-top:30px;
	word-spacing:5px;
	/* margin-bottom:20px; */
}
/* .testimonials-cardcontent p{ */
	/* font-style:italic; */
	/* font-size:16px; */
	/* color:#4444444; */
	/* font-weight:400; */
	/* font-family: 'Open Sans', sans-serif; */
	/* margin:20px 0; */

	
/* } */
.testimonials-card i{
	font-size:18px;
	color:#ffb6c169;
	
}

.testimonials-cardmemberdt{
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	position:absolute;
	left:100px;
	
}
.testimonials-cardtitle{
	position:relative;
   left:-90px;
   /* font-size:18px; */
   
   display:flex;
}
.testimonials-cardtitle img{
	width:20%;
	border:5px solid #ccc;
}

.row1{
	justify-content:space-evenly;
	 display:flex;
	margin-bottom:30px;
	
	
	
}
.testimonials-cardcontent p{ 
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	margin-top:2px;
	color:#444444;
	font-size:14px;
}	

#call{
	padding:10px 0;
	background-color:#0b2341;
	
}	
.calltoaction-content{
	text-align:center;
}
.calltoaction-title h3{
	padding:30px 0;
	text-align:center;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:28px;
	font-weight:700;
}
.calltoaction-title p{
	text-align:center;
	color:white;
	font-family: 'open Sans', sans-serif;
}
.btn_secondary a{
	display:inline-block;
	padding:10px 40px;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:5px;
	border:2px solid #ed502e;
	margin:40px 0;
	font-family: 'open sans', sans-serif;	
    transition:0.5s;
}
.btn_secondary a:hover{
	background-color:#ed502e;
}

#portfolio{
	display:flex;
	flex-wrap:wrap;
	margin-top:40px;
}
.Portfolio-navlist{
	display:flex;
	justify-content:center;
	list-style:none;
	align-items:center;
	font-size:14px;
	font-weight:600;
	font-family:"open sans" ,sans-serif;
	gap:20px;
	padding-bottom:30px;
    transition:0.5s;	
}
.Portfolio-navlist a:hover{
	color:#ed502e;

}
.Portfolio-navlist a{
	text-decoration:none;
	

}
.Portfolio-cardimg{
	margin-bottom:20px;
}
#team{
	padding:40px 0;
	background-color:#f6f9fd;
	
}

#faq{
	padding:60px 0;
	background-color:white;
}
.faq-ans{
   display:flex; 
   margin-bottom:20px;
}
.faq-question{
	padding:30px 0;
	color:#444444;
	display:flex;
	flex-wrap:wrap;
	background-color:white;
	border-bottom:2px solid #f6f9fd;

}
.faq-ans i{
	padding-bottom:10px;
	margin-right:20px;
	font-size:20px;
	color:#669ee5;
}
.faq-ans h4{
	font-family:"Raleway", sans-serif;
	font-size:16px;
	font-weight:700;
	color:#444444;

}
.faq-question p{
	font-family:"Open Sans", sans-serif;
	font-size:15px;
	/* margin:0 0 10px 15px; */
 

}
#contact{
	background-color:#f6f9fd;
	padding:30px 0;
	
}
.contact-address{
	text-align:center;
	border-radius:4px;
	border:1px solid white;
	padding:40px 0;
	background-color:white;
	color: solid gray;
	box-shadow:0px 0px 20px 0px lightgray;
}
.contact-address h3{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color:#777777;
	padding-top:5px;
}
.contact-email h3{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color:#777777;
	padding-top:5px;
	padding-bottom:8px;
}
.contact-address p{
	font-family: 'open sans', sans-serif;
	font-size:14px;
	color:#777777;
}
.contact-email p{
	font-family: 'open sans', sans-serif;
	font-size:14px;
	color:#777777;
}
.contact-email{
	text-align:center;
	border-radius:4px;
	border:1px solid white;
	padding:40px 0;
	background-color:white;
	margin-top:20px;
	color:solid gray ;
	box-shadow:0px 0px 20px 0px lightgray;
	width:100%;
}
.contact-email i{
	color:red;
	font-size:30px;
	width:60px;
	height:60px;
	border-radius:40px;
	border-color: #ed502e;
	border:3px dotted #fbdad2;
	padding-top:11px;
	
	
	
}
.contact-address i{
	color:red;
	font-size:35px;
	width:60px;
	height:60px;
	border-radius:40px;
	border-color: #ed502e;
	border:3px dotted #fbdad2;
	padding-top:10px;
	
}



.form-group{
    padding:10px 10px;
    width:100%;	
   
}
.form-section{
	background-color:white;
	padding:30px 0;
	box-shadow:0px 0px 20px 0px lightgray;
	margin-top:30px;
}
.form-input{
	/* padding:5px 10px 40px 5px; */
	border-radius:5px ;
	 font-size:16px;
	color:#444444;
	font-family:'open sans'open serif;
	padding:25px 20px;
	border:1px solid lightgray;
	outline-color:#ed502e;
	width:100%;
	height:40px;
	
}
.form-group .form-msg{
	width:100%;
	height:100px;
	color:#444444;
	border:1px solid lightgray;
	outline-color:#ed502e;
	font-size:18px;
	font-family:'open sans',sans-serif;
	padding-bottom:50px;
	padding-top:15px;
	padding-left:15px;
	
}
#content{
	color:white;
	background-color:#071527;
	padding-top:50px;
}
.button-primary{
	display:inline-block;
	padding:8px 20px ;
	background-color:#ed502e;
	color:white;
	font-size:18px;
	text-decoration:none;
	border-radius:4px;
	font-family:"Open Sans", sans-serif;
	transition:0.5s;
	margin-top:30px;
}
.msg-btn{
	text-align:center;
}
.button-primary a{
	text-decoration:none;
	color:white;
	
}
.button-primary:hover{
	opacity:0.8;
}



#content{
    padding:50px 0;
	background-color:#0b2341;
	margin-top:20px;
	color:white;


}
.content-dt{
	background-color:#05101e;
	text-align:center;
	padding:50px 40px;
	position:relative;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
}
.content-dt p{
	margin:15px 0;
}

.content-subscribebtn h5{
	
	font-family: 'Raleway', sans-serif;
}
.content-subscribebtn p{
	font-family: 'open Sans', sans-serif;
	padding:20px 0;
}

.content-link{
	padding:8px 0;
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	/* background-color:#0b2341; */
	margin-top:10px;

}
.content-link ul{
	margin-left:20px;
}
.content-list{
	list-style:none;
	position:relative;
	border-radius:5px;
	border:#05101e;
	font-family: 'open sans', sans-serif;
	font-size:14px;
	text-decoration:none;
	
	
}
.content-subscribebtn{	
	position:relative;
	margin-top:20px;
}
.content-subscribebtn h5{
	font-size:16px;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	
	
}
.content-subscribebtn p{
	font-family: 'open sans', sans-serif;
	font-size:14px;
}
.content-list span{
	color:#ed502e;
	position:absolute;
	right:104%;
	
}
.content-list a{
	text-decoration:none;
	color:white;
}
.content-list a:hover{
	color:#ed502e;
	transition:0.5s;
	
}
.subscribe-form a{
	text-decoration:none;
	background-color:#ed502e;
	color:white;
	padding:14px 20px;
  	 position:absolute;
	right:0px;
	border-radius:3px;
	top:1px;
	font-family: 'open sans', sans-serif;
	
}
.subscribe-form{
	
	position:relative;
}
.content-dt i{
	border-radius:5px;
	border:1 px solid gray;
	width:40px;
	background-color:#0a1e38;
	height:40px;
	font-size:20px;
	padding-top:10px;
	
	
}
.content-dt p{
	padding:10px 0;
	font-family: 'Raleway', sans-serif;
}
.content-dt i:hover{
	transition:all 0.2s ease;
	color:white;
	background-color:#ed502e;
}

 .content-dt::before{
	content:"";
	width:100%;
	height:5px;
	background-color:red;
	display:inline-block;
	position:absolute;
	right:78%;
	top:4px;
	left:1%;
	
	

}
.content-list li{
	padding:15px 0;
}
.copy-right{
	border-top:1px solid blue;
	padding:40px;
	margin-top:100px;
	font-family:'open sans', sans-serif;
	font-size:15px;
}
#subscribe-btn{
	    padding-right:120px;
    outline:none;
    padding:16px 10px;
	width:100%;
	border-radius:5px 0px 0px 5px;
}
.copy-right p{
	text-align:center;
}
.drop{
	position:relative;
	line-height:3;
	
}
.copy-right span{
	color:#ed502e;
	transition:0.5s;
	line-height:3;
}
.copy-right span:hover{
	opacity:0.8;
}


.drop:hover  ul.dropdown{
	visibility: visible;
    opacity: 1;
    transform: translateY(0px);
	transition:0.5s;
	
}


.dropdown{
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top: 45px;
    left:-12px;
    list-style: none;
    width: 185px;
    padding-left: 22px;
    line-height: 2.5;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s ease;
    transform: translateY(30px);
}

/* .drop > .dropdown{ */

/* } */
.drop1{
	position:relative;
	/* line-height:3px; */
	/* padding:10px 0; */
}
.drop1:hover  ul.dropdown1{
	visibility: visible;
    opacity: 1;
    transform: translateY(0px);
	transition:0.5s;
}

.dropdown1{
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top:4px;
    right:185px;
    list-style: none;
    width: 200px;
    padding-left:22px;
    line-height:3;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s ease;
    transform: translatex(30px);
}
 

.portfolio-cardcontent{
	display:flex;
	justify-content:space-between;
}
.portfolio-cardtitle h2{
	font-family: 'Raleway', sans-serif;
	color:#0b2341;
	font-weight:600;
	font-size:18px;
}
.portfolio-cardtitle p{
	color:#1a5298;
	font-size:14px;
	font-family:'open sans',sans-serif;
	padding-top:6px;
}
.portfolio-cardicon i{
	color:#123a6d;
	font-size:18px;
	padding-top:10px;
	padding-left:20px;
}
.port{
	position:relative;
}
.portfolio-cardcontent{
	border:1px solid white;
	background-color:white;
	width:90%;
	position:absolute;
	opacity:0;
	bottom:14px;
	left:20px;
	padding:20px 10px;
	transition:0.5s;
}
.portfolio-cardicon i:hover{
	color:#ed502e;
	transition:0.5s;
}
.port:hover .portfolio-cardcontent{
	opacity:1;
	bottom:40px;
	transition:0.5s;
}
.team-memberdt{
	/* background-color:#233751a8; */
	width:100%;
	position:absolute;
	opacity:0;
	text-align:center;
	color:white;
	top:70%;
	padding-bottom:2px;
	transform:translateY(40px);
	z-index:2;
}



.team-card:hover .team-memberdt{
	opacity:1;
	bottom:30px;
	transition:0.5s;
	transform:translateY(0px);

	
}
.team-sociallink{
	width:18%;
	font-size:22px;
	position:absolute;
	top:0px;
	color:white;
	height:100%;
	transition:0.5s;
	padding:36px 0;
	background-color:#233751;
	z-index:3;
	left:-100px;
}
.team-card:hover .team-sociallink{
	left:0px;
}
.team-card h3{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}
.team-card h4{
	font-style:italic;
	font-size:13px;
	font-weight:300;
	font-family: 'open sans', sans-serif;
}
.team-sociallink a:hover{
	color:#ed502e;
	transition:all 0.5s ease;
}
.team-card{
	position:relative;
	overflow:hidden;
}
.team-sociallink a{
	color:white;
	margin-bottom:15px;
	display:block;
	text-align:center;
}


.team-cardoverlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
	background: linear-gradient(164deg, #3330, #233751a8 50%, #233751 75%, #233751fc 75%);	
z-index:1;
opacity:0;
}

.team-card:hover .team-cardoverlay{
opacity:1;
transition:0.5s;
}	
